{% block navigation %}

{% if page_obj.has_other_pages %}

<hr align="center" width="100%" size="2" color="#000000"/>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?search={{ search }}&page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
            <li class="page-item active">
                <span class="page-link">{{ p }}</span>
            </li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
            <li class="page-item"><a class="page-link" href="?search={{ search }}&page={{ p }}">{{ p }}</a></li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?search={{ search }}&page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endif %}

{% endblock navigation %}