PROJECT_A=C:\Percorso\Progetto_A
PROJECT_B=C:\Percorso\Progetto_B
PROJECT_B_WEB=C:\Percorso\Progetto_B\WebAPI
PROJECT_B_CORE=C:\Percorso\Progetto_B\Core
JDKS_DIRECTORY=C:\Java
JDK_8=\jdk1.8.0_111\bin
JDK_21=\jdk-21.0.8\bin
SERVERS=C:\Percorso\Server
PROJECT_A_WEB_STANDALONE=\jboss-web\standalone\deployments
PROJECT_A_WEB_STANDALONE_BAT=\jboss-web\bin\standalone.bat
PROJECT_A_CORE_STANDALONE=\jboss-core\standalone\deployments
PROJECT_A_CORE_STANDALONE_BAT=\jboss-core\bin\standalone.bat
PROJECT_B_WEB_STANDALONE=\jboss-web\standalone\deployments
PROJECT_B_WEB_STANDALONE_BAT=\jboss-web\bin\standalone.bat
MAVEN_HOME=C:\Percorso\Maven
PROJECT_A_MAVEN_CONFIG=\conf\settings_project_a.xml
PROJECT_B_MAVEN_CONFIG=\conf\settings_project_b.xml